<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 

   
  </head>

  <body>

  <% if user_signed_in? %>
  <div id="sign_out_div">  <%= current_user.name %> -<%= link_to 'Sign out', destroy_user_session_path, :id => 'sign_out' , :method => "delete" %> </div>
  <br>
  <% end %>
<!--   <div id="current_date">
  <h2 id="hdate"> CurrentDate: </h2> <h2 id="date"></h2> 
  </div> -->
    <%= yield %>
 <script type="text/javascript">
   $("#submit").click(function(event){
    event.preventDefault();
    var searchIDs = $("#find-table input:checkbox:checked").map(function(){
      return $(this).val();
    }).get();
    $("#foodiwant").html(searchIDs)
    alert(searchIDs);
  });

 $("#button-delete").click(function(event){
  event.preventDefault();
   $( "#foodiwant" ).empty();
 })
// n =  new Date();
// y = n.getFullYear();
// m = n.getMonth() + 1;
// d = n.getDate();
// document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
   </script>
  </body>
</html>
