<h1 class="h_nav_menu"> <%= link_to "Home Page", new_user_session_path , class: 'nav_menu' %> </h1>

<div id="sign_in">
<h2 id="sign_up_style">Sign up</h2> 
</div>
<div id="sign">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 <div class="field">
    <%= f.label :first_name ,{:id => 'email_label'} %><br />
    <%= f.text_field :first_name ,id: 'email_id' %>
  </div>
   <div class="field">
    <%= f.label :last_name ,{:id => 'email_label'} %><br />
    <%= f.text_field :last_name ,id: 'email_id' %>
  </div>
  <div class="field">
    <%= f.label :email ,{:id => 'email_label'} %><br />
    <%= f.email_field :email, autofocus: true ,id: 'email_id' %>
  </div>

  <div class="field">
    <%= f.label :password ,{:id => 'email_label'} %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off"  ,id: 'email_id' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , {:id => 'email_label'} %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , id: 'email_id' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,{ :class => 'log-button'}%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
