<h1 class="h_nav_menu"> <%= link_to "Home Page", new_user_session_path , class: 'nav_menu' %> </h1>
<div id="forgot_your_password">
<h2 id="forgot_your_password_text">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email ,  {:id => 'email_label'}%><br />
    <%= f.email_field :email, autofocus: true ,  id: 'email_id' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" ,{ :class => 'class-button-blue'}%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
