
<div id="nav_menu_div">
<h1 class="h_nav_menu"> <%= link_to "Home Page", new_user_session_path , class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Restorant", restorant_restorant_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Gallery", restorant_gallery_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Lunch Menu", restorant_lunch_menu_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Wedding Menu", restorant_wedding_menu_path, class: 'nav_menu' %> </h1>
</div>
<div>
<p id="hanami_location">Ресторант ХАНАМИ София, Дружба 1, ул. Датекс 4
тел.: 02 8165646/7/8 <p>
</div>
<div id="contact_div">
<iframe id="map" src="http://www.bgmaps.com/link/map/77916137A89F449D461F1ED89AD5ED2E">
</iframe>
</div>

