<div id="nav_menu_div">
<h1 class="h_nav_menu"> <%= link_to "Home Page", new_user_session_path , class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Restorant", restorant_restorant_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Lunch Menu", restorant_lunch_menu_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Wedding Menu", restorant_wedding_menu_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Contact", restorant_contact_path , class: 'nav_menu'%>  </h1>
</div>
<div id="lunch_menu">
<h1>Не е въведено меню за текущата седмица. </h1>

</div>
