
<div id="nav_menu_div">
<h1 class="h_nav_menu"> <%= link_to "Home Page", new_user_session_path , class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Restorant", restorant_restorant_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Gallery", restorant_gallery_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Lunch Menu", restorant_lunch_menu_path, class: 'nav_menu' %> </h1>
<h1 class="h_nav_menu"> <%= link_to "Contact", restorant_contact_path , class: 'nav_menu'%>  </h1>
</div>
<h1>Restorant#wedding_menu</h1>
<p>Find me in app/views/restorant/wedding_menu.html.erb</p>
