<div id="main_edit_post">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="edit_post">
<%= form.label :date, class: "edit_content" %> 
    <h3 id="edit_post_title"> <%= form.text_field :title, id: :post_title , class: "edit_textarea"%> </h3>
  </div>

  <div class="field" id="edit_post">
   <%= form.label :Order,class: "edit_content" %> 
    <h3 id="edit_post_content"> <%= form.text_area :content, id: :post_content , class: "edit_textarea"%> </h3>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
