<p id="notice"><%= notice %></p>
<div id="show">
<p id="show_text">
  <strong>Date:</strong>
  <%= @post.title %>
</p>

<p id="show_text">
  <strong>Your Order:</strong>
  <%= @post.content %>
</p>
<div id="edit_back_div">
<%= link_to 'Edit', edit_post_path(@post),class: "edit_show_back" , id: "show_edit_id" %> 
<%= link_to 'Back', posts_path ,class: "edit_show_back"%>
</div>
</div>
